{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AscendEd</title>
    <link href="{% static 'ascended/styles.css' %}" rel="stylesheet">
</head>
<body>
    <h1>AscendEd</h1>
    {% if error %}
        <p>ERROR: {{ error }}
    {% endif %}
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <p>Logged in!</p>

        <a href="{% url 'account_logout' %}">
            <button>
                Sign out
            </button>
        </a>
    {% else %}
        <a href="{% provider_login_url 'google' process='login' %}">
            <button>
                Sign in with Google
            </button>
        </a>
    {% endif %}
</body>
</html>